<ng-container>

  <span class="filters-container">

    <!-- SearchBox utilizado para buscar os filmes pelo nome. -->
    <app-input-search [searchControl]="searchControl" [displayClear]="!!filmes$"></app-input-search>
    
    <!-- SearchBox utilizado para buscar os filmes passando o tipo como parâmetro. -->
    <app-input-filter [searchControl]="searchControl" [filterControl]="filterControl"></app-input-filter>
  </span>

  <!-- Responsável por mostrar os cards contendo os filmes. -->
  <app-card [searchControl]="searchControl"></app-card>
</ng-container>