<ng-container>
  <span class="filters-container">

    <app-input-search [searchControl]="searchControl" [displayClear]="!!filmes$"></app-input-search>

    <span class="d-flex align-items-end">
      <app-input-filter-type style="margin-right: 20px;" [searchControl]="searchControl"
        [filterControl]="filterTypeControl"></app-input-filter-type>

      <app-input-filter-year [searchControl]="searchControl"
        [filterControl]="filterYearControl"></app-input-filter-year>
    </span>

    <div class="position-absolute" style="right: 2%;top: 1%;">
      <button mat-fab (click)="openWatchList()" color="b8b8b8" title="Open watch list">
        <mat-icon>checklist</mat-icon>
      </button>
    </div>
  </span>

  <app-card [searchControl]="searchControl"></app-card>
</ng-container>