<ng-container>
  <mat-form-field class="display-flex-input">
    <input matInput [formControl]="searchControl">
    <button *ngIf="filmes$" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>


  <span class="display-flex-card">
    <mat-card class="cards" *ngFor="let filme of filmes$ | async" mat-raised-button (click)="onFilmeSelecionado(filme)">
      <mat-card-header>
        <mat-card-title>{{ filme.Title }}</mat-card-title>
      </mat-card-header>
      <mat-card-subtitle>
        <img src="{{ filme.Poster }}">
      </mat-card-subtitle>
    </mat-card>
  </span>
</ng-container>