.display-flex-card {
    display: flex;
    flex-wrap: wrap;
    place-content: flex-start;
    justify-content: center;
}

.display-flex-input {
    display: flex;
    justify-content: center;
}

.cards {
    flex-shrink: 1;
    overflow: hidden;
    margin: 2%;
    max-width: 30%;
}

.display-movie-card-poster {
    display: flex;
    flex-direction: column;
    align-items: center;
}